/* CSS untuk tampilan frontend Rental Buku */

/* Gaya elemen header */
header {
    position: relative;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

header img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 10px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Gaya elemen daftar buku */
section#featured-books {
    display: flex;
    flex-wrap: wrap;
}

.book {
    width: 200px;
    margin: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.book img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.book h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.book p {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

/* Gaya elemen footer */
footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #777;
}

/* Gaya elemen login */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container .form-group {
    margin-bottom: 15px;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-container .btn-login {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-container .btn-login:hover {
    background-color: #45a049;
}

/* Gaya elemen avatar */
.avatar {
    border: 2px solid green;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Gaya elemen sign-in button */
.login-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    
}

.login-button:hover {
    background-color: #45a049;
}

.logout-button {
    background-color: #f44336;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
}
.logout-button:hover {
    background-color: #d32f2f;
}

.success-message {
    color: green;
    font-weight: bold;
}

  